bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
export/

Writerside/
ScratchScript.Compiler/Frontend/GeneratedVisitor
ScratchScript.Compiler/Backend/GeneratedVisitor
ScratchScript.Compiler/Frontend/Optimization/ConstantEvaluator/GeneratedVisitor